<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Schedule</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
		  	<link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
	<style>
body {
    font-family: 'Open Sans';
}
</style>
</head>
<body style="background-size: cover;
background-repeat: no-repeat; background-image: url('https://ik.imagekit.io/9zsxpdwsf/stadium_2_3hSSHGuWd.png');">

<nav class="navbar" style="background: #1F1F30;">
    <div class="container-xl">
        <!--        <a class="navbar-brand" th:href="@{/{userId}/home(userId=${user.id})}">-->
        <a class="navbar-brand" th:href="@{/user/landing}">
            <img class="justify-content-center" src="https://uploads-ssl.webflow.com/62b47b00dbb5f525acc9b2d0/62c3dfc54a8cc55393448ece_Artboard%2020%201.svg" alt=""
                 width="150" height="30">
        </a>
        <div class="dropdown justify-content-center">
            <ul class="nav" aria-labelledby="dropdownMenuButton2"
                style="left:auto; right:0; margin-right:0">
                <li style="color:rgba(255, 255, 255, 0.8);">
                    <button style="color:rgba(255, 255, 255, 0.8); text-decoration: none;" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Rules</button>
                </li>
                <li><a class="btn" style="color:rgba(255, 255, 255, 0.8); text-decoration: none;" th:href="@{/changePassword}">Change Password</a></li>
                <li><a class="btn" style="color:#DB3F66; text-decoration: none;" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div style="background: #FFFFFF;box-shadow: 0px 11px 90px rgba(0, 0, 0, 0.15);border-radius: 6px;" class="modal-content">
            <div  style="border:none" class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rules</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol>
                    <li class="p-1 mx-1">Predict match winner correctly and get 50 points</li>
                    <li class="p-1 mx-1">Select your team for every T20 game</li>
                    <li class="p-1 mx-1">Time window to select your teams for the day closes by 8.30 am</li>
                    <li class="p-1 mx-1">You gain 50 bonus points if your team has atleast 4 batters, 1 allrounder, 1 wicketkeeper and 2 bowlers</li>
                    <li class="p-1 mx-1">Every run will earn you 1 point</li>
                    <li class="p-1 mx-1">Every wicket wil earn you 25 points</li>
                    <li class="p-1 mx-1">Man of the match if predicted correctly will earn you double points</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center my-5">
	<div class="d-flex" style="height: fit-content;position: absolute;left: 10%;">
		<a href="javascript:history.back()" style="text-decoration: none;color: #FFF;font-weight: 600;font-size: 18px;">
		<svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
		<line x1="20.2317" y1="9" x2="5.23169" y2="9" stroke="white" stroke-width="3" stroke-linecap="round"/>
		<line x1="2.23193" y1="8.87868" x2="8.80803" y2="2.30259" stroke="white" stroke-width="3" stroke-linecap="round"/>
		<line x1="2.12132" y1="8.84277" x2="8.69741" y2="15.4189" stroke="white" stroke-width="3" stroke-linecap="round"/>
		</svg><span style="margin-left: 10px;">Back</span></a>
	</div>
    <div class="card" style="width: 80%; background:#f8f9fb;margin-top: 40px;">
        <div>
		<div class="d-flex px-4 pt-4" style="flex-wrap: wrap;justify-content: space-between;">
		<div>
		<span style="font-weight: 600;font-size: 40px;">Match Schedule<span class="ps-2 pt-3" style='font-size:40px;'>&#128203;</span></span>
		</div>
		<div class="d-flex">
		<div style="text-align: center;">
		<span style="font-weight: 600;font-size: 32px;color: #0E0447;" class="px-2 ms-2" th:unless="${user.admin}" th:text="${user.score}"></span>
		<p th:unless="${user.admin}" class="card-text fs-5 ps-2 pt-3 ms-4 mb-0"><strong>Overall Score</strong></p>
		</div>
		<div style="text-align: center;">
		<span th:unless="${user.admin}"><span th:if="${user.rank} != 0"><span class="px-2 ms-2" style="font-weight: 600;font-size: 32px;color: #0E0447;" th:text="${user.rank}"></span></span><span th:if="${user.rank} == 0"><span style="font-weight: 600;font-size: 32px;color: #0E0447;" class="px-2 ms-2" >-</span></span></span>
		<p th:unless="${user.admin}" class="card-text fs-5 ps-2 pt-3 ms-4 mb-0"><strong>Overall Rank</strong></p>
		</div>            
		</div>		
		</div>
           
            <p th:unless="${user.admin}" class="card-text ps-2 mt-1 ms-4" style="font-weight: 400;font-size: 16px;color: #DE1E35;"><strong>Click on the match to select your team!</strong></p>
            <p th:if="${user.admin}" class="card-text ps-2 pt-2 mt-1 ms-4" style="font-weight: 400;font-size: 16px;color: #DE1E35;"><strong>Click on the fixture to add score for each match!</strong></p>
        </div>
        <div class="table-responsive px-2 pt-2 ms-4 me-5">
            <table class="table table-striped">
                <thead style="background: #503C88;color: #FFF;font-weight: 600;font-size: 14px;">
                <tr style="background-color: #503C88;">
                    <th class="col text-center" style="width: fit-content;">Match #</th>
                    <th class="col text-center" style="width: fit-content;">Date</th>
                    <th class="col text-center" style="width: fit-content;">Fixture</th>
                    <th class="col text-center" style="width: fit-content;">Round</th>
                    <th class="col text-center" style="width: fit-content;">Group</th>
                    <th class="col text-center" th:if="${user.admin}" style="width: fit-content;">Calculate Score</th>
                    <th class="col text-center" th:unless="${user.admin}" style="width: fit-content;">Daily Score</th>
                    <th class="col text-center" th:unless="${user.admin}" style="width: fit-content;">Daily Rank</th>
                </tr>
                </thead>
                <tbody>
                <div th:unless="${user.admin}">
                    <div th:each="match : ${schedule}">
                        <div th:if="${match.matchOver}">
                            <tr class="table-secondary">
                                <th class="text-center" th:text="${match.id}"></th>
                                <td class="text-center" th:text="${match.date}"></td>
                                <td class="text-center">
                                    <a th:if="${match.firstTeam} != 'TBC' AND ${match.secondTeam} != 'TBC'"
                                       th:href="@{/addTeam(matchId=${match.id})}"
                                       th:text="|${match.firstTeam}  V  ${match.secondTeam}|">
                                    </a>
                                    <div th:if="${match.firstTeam} == 'TBC' OR ${match.secondTeam} == 'TBC'"
                                         th:text="|${match.firstTeam}  V  ${match.secondTeam}|"></div>
                                </td>
                                <td class="text-center" th:text="${match.round}"></td>
                                <td class="text-center" th:text="${match.group}"></td>
                                <div th:if="${userScores.get(__${match.id}__)} != null">
                                    <th class="text-center" th:text="${userScores.get(__${match.id}__).score}">
                                    </th>
                                    <th th:unless="${userScores.get(__${match.id}__).rank} == 0" class="text-center" th:text="${userScores.get(__${match.id}__).rank}">
                                    </th>
                                    <th th:if="${userScores.get(__${match.id}__).rank} == 0" class="text-center" >-
                                    </th>
                                </div>
                                <div th:unless="${userScores.get(__${match.id}__)} != null">
                                    <th class="text-center">-</th>
                                    <th class="text-center">-</th>
                                </div>
                            </tr>
                        </div>
                        <div th:unless="${match.matchOver}">
                            <tr>
                                <th class="text-center" th:text="${match.id}"></th>
                                <td class="text-center" th:text="${match.date}"></td>
                                <td class="text-center">
                                    <a th:if="${match.firstTeam} != 'TBC' AND ${match.secondTeam} != 'TBC'"
                                       th:href="@{/addTeam(matchId=${match.id})}"
                                       th:text="|${match.firstTeam}  V  ${match.secondTeam}|">
                                    </a>
                                    <div th:if="${match.firstTeam} == 'TBC' OR ${match.secondTeam} == 'TBC'"
                                         th:text="|${match.firstTeam}  V  ${match.secondTeam}|"></div>
                                </td>
                                <td class="text-center" th:text="${match.round}"></td>
                                <td class="text-center" th:text="${match.group}"></td>
                                <th class="text-center">-</th>
                                <th class="text-center">-</th>
                            </tr>
                        </div>
                    </div>
                </div>
                <div th:if="${user.admin}">
                    <div th:each="match : ${schedule}">
                        <tr>
                            <th class="text-center" th:text="${match.id}"></th>
                            <td class="text-center" th:text="${match.date}"></td>
                            <td class="text-center">
                                <a th:if="${match.firstTeam} != 'TBC' AND ${match.secondTeam} != 'TBC'" th:href="@{/matchSummary(matchId=${match.id})}"  th:text="|${match.firstTeam}  V  ${match.secondTeam}|">
                                </a>
                                <div th:if="${match.firstTeam} == 'TBC' OR ${match.secondTeam} == 'TBC'" th:text="|${match.firstTeam}  V  ${match.secondTeam}|"></div>
                            </td>
                            <td class="text-center" th:text="${match.round}"></td>
                            <td class="text-center" th:text="${match.group}"></td>
                            <td class="text-center">
                                <a th:if="${match.firstTeam} != 'TBC' AND ${match.secondTeam} != 'TBC'" th:href="@{/match/calculate(matchId=${match.id})}" onclick="return confirm('Please ensure the score has been updated via the link available under the fixture of this match. Are you sure you want to proceed?')">Calculate Score
                                </a>
                                <div th:if="${match.firstTeam} == 'TBC' OR ${match.secondTeam} == 'TBC'" >TBC</div>
                            </td>
                        </tr>
                    </div>
                </div>
                <!-- <div th:unless="${match.matchOver}">
                     <tr>
                         <th class="text-center" th:text="${match.id}"></th>
                         <td class="text-center" th:text="${match.date}"></td>
                         <td class="text-center"><a href="#" th:text="|${match.firstTeam}  V  ${match.secondTeam}|">India V Pakistan</a></td>
                         <td class="text-center" th:text="${match.round}"></td>
                         <td class="text-center" th:text="${match.group}"></td>
                         <th class="text-center"></th>
                         <th class="text-center"></th>
                     </tr>
                 </div>-->
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>