<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Match Summary</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/matchSummary.js}"></script>
</head>

<body style="background-size: cover;
background-repeat: no-repeat; background-image: url('https://images.unsplash.com/photo-1516118461620-03680a03bd27?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1173&q=80');">
<nav class="navbar navbar-light">
    <div class="container-xl">
        <!--        <a class="navbar-brand" th:href="@{/{userId}/home(userId=${user.id})}">-->
        <a class="navbar-brand" th:href="@{/user/landing}">
            <img class="justify-content-center" src="https://www.verteil.com/assets/svg/logos/logo.svg" alt=""
                 width="150" height="30">
        </a>
        <div class="dropdown justify-content-center">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2"
                    data-bs-toggle="dropdown" aria-expanded="false" style="background-color:#80a83f;">
                Settings
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2"
                style="background-color:#80a83f; left:auto; right:auto; margin-right:0">
                <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Rules</button></li>
                <li><a class="dropdown-item" th:href="@{/changePassword}">Change Password</a></li>
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rules</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ol>
                    <li class="p-1 mx-1">Predict match winner correctly and get 50 points</li>
                    <li class="p-1 mx-1">Select your team for every T20 game</li>
                    <li class="p-1 mx-1">Time window to select your teams for the day closes by 12 pm</li>
                    <li class="p-1 mx-1">You gain 50 bonus points if your team has atleast 4 batters, 1 allrounder, 1 wicketkeeper and 2 bowlers</li>
                    <li class="p-1 mx-1">Every run will earn you 1 point</li>
                    <li class="p-1 mx-1">Every wicket wil earn you 25 points</li>
                    <li class="p-1 mx-1">Man of the match if predicted correctly will earn you double points</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/matchSummary}" th:object="${matchSummary}" method="post">
<div class="card mt-5" style="width: 70%; padding: auto; margin: auto; background:#f8f9fb;">
    <select hidden th:field="*{matchId}">
        <option selected value="${match.id}" th:value="${match.id}"></option>
    </select>
    <div class="d-flex justify-content-center mt-3">
        <div class="mt-3 ms-2 mb-0">
            <div class="d-flex pt-2 flex-row">
                <div class="ps-3 fs-5 fw-bold">
                    Match <span th:text="${match.id}"></span>
                </div>
                <div id="firstCountry" class="ps-3 fs-5 fw-bold" th:text="${match.firstTeam}">
                </div>
                <div class="ps-3 fs-5 fw-bold">
                    Vs
                </div>
                <div class="ps-3 fs-5 fw-bold" th:text="${match.secondTeam}">
                </div>
            </div>
        </div>
    </div>
        <div th:if="${matchSummary.id} != null">
            <select hidden th:field="*{id}">
                <option th:value="${matchSummary.id}" selected></option>
            </select>
        </div>
    <div class="d-flex justify-content-center my-2">
        <div class="mx-3 fs-5 fw-bold">
            Winner :
        </div>
        <select class="form-select form-select-sm ps-2" aria-label="multiple select example"
                style="width: fit-content;" th:field="*{winner}">
            <option th:value="${match.firstTeam}" th:text="${match.firstTeam}"></option>
            <option th:value="${match.secondTeam}" th:text="${match.secondTeam}"></option>
        </select>
    </div>

    <div class="d-flex justify-content-center my-2" style="overflow-x: auto;">
        <table class="table table-bordered table-striped table-hover" style="margin-left: 5%; margin-right: 5%;">
            <thead>
            <tr>
                <th class="col-1 text-center">#</th>
                <th class="col-1 text-center">Team</th>
                <th class="col-2 text-center">Player</th>
                <th class="col-2 text-center">Role</th>
                <th class="col-2 text-center">Runs</th>
                <th class="col-2 text-center">Wickets</th>
                <th class="col-2 text-center">Score</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="player,itr : ${allPlayers}">
                <tr class="align-middle">
                    <select hidden th:field="*{scoreCards[__${itr.index}__].playerId}">
                        <option selected value="${player.id}" th:value="${player.id}"></option>
                    </select>
                    <th class="text-center" th:text="${itr.index} + 1"></th>
                    <td class="text-center" th:text="${player.country}"></td>
                    <td class="text-center" th:text="${player.name}"></td>
                    <td class="text-center" th:text="${player.type}"></td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input th:field="*{scoreCards[__${itr.index}__].runs}" type="text"
                                   th:id="|player${player.id}Runs|"
                                   class="form-control form-control-sm mx-4 text-center"
                                   onchange="computeScore(this.id,this.value, 'Runs')">
                        </div>
                    </td>
                    <td>
                        <div class="input-group input-group-sm">
                            <input th:field="*{scoreCards[__${itr.index}__].wickets}" type="text"
                                   th:id="|player${player.id}Wicts|"
                                   class="form-control form-control-sm mx-4 text-center"
                                   onchange="computeScore(this.id,this.value, 'Wicks')">
                        </div>
                    </td>
                    <td class="text-center" th:id="|player${player.id}Score|" th:text="${matchSummary.scoreCards[__${itr.index}__].score}"></td>
                </tr>
            </div>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <h4><span class="badge mt-2" style="background-color: #80a83f;">Man of the Match</span></h4>
        <select class="form-select form-select-sm mx-5" id="manOfTheMatch"
                style="width: fit-content;" th:field="*{momId}">
            <option th:each="player : ${allPlayers}" th:value="${player.id}" th:text="${player.name}"></option>
        </select>
    </div>
</div>

<div class="d-flex justify-content-center mt-3 mb-4">
    <input type="submit" onclick="return confirm('Are you sure?')" class="btn btn-primary"
           value="Save Summary">
</div>

</form>
</div>





</body>
<footer id="footer" class="footer bg-dark mb-0" style="
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  ">
    <div class="container">
        <img class="py-2 justify-content-center" src="https://www.verteil.com/assets/svg/logos/logo-white.svg"
             alt="">
    </div>
</footer>

</html>